.outer-cont{
	position:absolute;
	top:0px;
	width:100%;
	height:100%;
	background-color: #61B4C0;
	
	padding: 0;
}

.inner-cont{
	position:relative;
	top:0px;
	max-width:800px;
	max-height:480px;
	width:75%;
	height:100%;
	background-color:#0A67A3;
	margin:auto;
	padding:0;
	
}


.banner{
	position:relative;
	top:0px;
	max-width:800px;
	height:25%;
	background-color:#0A67A3;
	
	padding: 2% 2% 2% 2%;
}

.site-desc{
	max-width:800px;
	height:25%;
	background-color:#3E97D1;
	
}

.lang-list{
	max-width:800px;
	height:50%;
	background-color: #BFE4FF;
}

.lang{
	max-width:800px;
	height:33%;
	
	background-color: #BFE4FF;
	background-image:url('../images/button_0.png');
	-webkit-background-size: contain;
	-moz-background-size:contain;
	-k-background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	margin-left:50%;
}


.button.green {
color: #508217 !important;
background-color: #9EE052;
-webkit-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ hsl(88, 70%, 40%) 0 .1em 3px, hsl(88, 70%, 30%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
-moz-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ hsl(88, 70%, 40%) 0 .1em 3px, hsl(88, 70%, 30%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ hsl(88, 70%, 40%) 0 .1em 3px, hsl(88, 70%, 30%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
padding: 5px 10px;
font-size: 30px;
text-align: right;
text-decoration: none;
-webkit-border-radius: 6px;
}
